@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #2563eb;
  --color-error: #dc2626;
  --radius: 0.5rem;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
} */

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: "Pretendard", sans-serif;
    height: 100%;
  }

  a {
    @apply text-blue-600 hover:underline;
  }
}
